In [1]:
import pandas as pd
import os

# 1. Environment Setup
Importing necessary libraries for data manipulation and OS interaction.

In [ ]:
file_path = os.path.join('..', 'data', 'raw_data', 'Sample_Superstore.csv')
try:
    df = pd.read_csv(file_path, encoding='latin1')
    print('Success: Dataset loaded successfully.')
except FileNotFoundError:
    print(f'Error: File not found. Please check the file path: {file_path}')

Sukces: Plik zosta≈Ç wczytany poprawnie.

# 2. Data Ingestion
Loading the "Sample Superstore" dataset. I am using a `try-except` block to handle potential file path errors, ensuring the pipeline is robust.

In [3]:
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,06-12-2016,6/16/2016,Second Class,DV-13045,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        9994 non-null   int64
 1   Order ID      9994 non-null   object
 2   Order Date    9994 non-null   object
 3   Ship Date     9994 non-null   object
 4   Ship Mode     9994 non-null   object
 5   Customer ID   9994 non-null   object
 6   Segment       9994 non-null   object
 7   Country       9994 non-null   object
 8   City          9994 non-null   object
 9   State         9994 non-null   object
 10  Region        9994 non-null   object
 11  Product ID    9994 non-null   object
 12  Category      9994 non-null   object
 13  Sub-Category  9994 non-null   object
 14  Product Name  9994 non-null   object
 15  Sales         9994 non-null   float64
 16  Quantity      9994 non-null   int64
 17  Discount      9994 non-null   float64
 18  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(14)
memory usage: 1.4+ MB

# 3. Initial EDA & Data Quality Check
Checking the data sample (`head`) and technical structure (`info`) to identify:
- Successful data loading.
- Data types inconsistencies (e.g., dates stored as strings).
- Missing values (nulls).

In [5]:
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('-', '_')

# 4. Column Name Standardization
Original column names contain spaces and mixed casing, which hinders coding efficiency.
I am converting all names to `snake_case` (lowercase, underscores) to follow Python standards and facilitate SQL export.

In [6]:
df['order_date'] = df['order_date'].astype('datetime64[ns]')
df['ship_date'] = df['ship_date'].astype('datetime64[ns]')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   row_id        9994 non-null   int64
 1   order_id      9994 non-null   object
 2   order_date    9994 non-null   datetime64[ns]
 3   ship_date     9994 non-null   datetime64[ns]
 4   ship_mode     9994 non-null   object
 5   customer_id   9994 non-null   object
 6   segment       9994 non-null   object
 7   country       9994 non-null   object
 8   city          9994 non-null   object
 9   state         9994 non-null   object
 10  region        9994 non-null   object
 11  product_id    9994 non-null   object
 12  category      9994 non-null   object
 13  sub_category  9994 non-null   object
 14  product_name  9994 non-null   object
 15  sales         9994 non-null   float64
 16  quantity      9994 non-null   int64
 17  discount      9994 non-null   float64
 18  profit        9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(12)
memory usage: 1.4+ MB

# 5. Type Casting
The `df.info()` check revealed that `order_date` and `ship_date` are stored as objects (strings).
I am converting them to `datetime` objects to enable time-series analysis (e.g., trends over months/years) and date arithmetic.